<h1>SAELGI - Sistema de Apoio para a Empresa Licitante</h1>
<div class="panel panel-default">
	<!-- Default panel contents -->
    <div class="panel-heading"><span class="lead">Lista de Licitacoes</span></div>
    <div class="tablecontainer">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Orgão</th>
                    <th>UF</th>
                    <th>Esfera</th>
                    <th>Abertura</th>
                    <th>Proposta</th>
                    <th>Entrega Docs</th>
                    <th width="20%"></th>
                </tr>
            </thead>
            <tbody>
                <!--  
                <tr ng-repeat="lic in controller.licitacoes">
                    <td><span ng-bind="lic.orgao"></span></td>
                    <td><span ng-bind="lic.uf"></span></td>
                    <td><span ng-bind="lic.esfera"></span></td>
                    <td><span ng-bind="lic.dataDeAbertura"></span></td>
                    <td><span ng-bind="lic.dataEntregaProposta"></span></td>
                    <td><span ng-bind="lic.dataEntregaDocumentacao"></span></td>
                    <td>
                    	<button type="button" ng-click="ctrl.edit(u.id)" class="btn btn-success custom-width">Editar</button>  <button type="button" ng-click="ctrl.remove(u.id)" class="btn btn-danger custom-width">Excluir</button>
                    </td>
                </tr>
                licitacoes.add(new Licitacao("Secretaria de Seguraça do Rio Grande do Sul", "SC", Esfera.Estadual, new Date(), new Date(), new Date()));
                licitacoes.add(new Licitacao("Guarnição do 18º Batalhão da Marinha", "RJ", Esfera.Federal, new Date(), new Date(), new Date()));
                -->
                 <tr>
                    <td><span>Secretaria de Seguraça do Rio Grande do Sul</span></td>
                    <td><span>RS</span></td>
                    <td><span>Estadual</span></td>
                    <td><span>10/10/2016</span></td>
                    <td><span>12/10/2016</span></td>
                    <td><span>13/10/2016</span></td>
                    <td>
                    	<button type="button" class="btn btn-success custom-width">Editar</button>  <button type="button" class="btn btn-danger custom-width">Excluir</button>
                    </td>
                </tr>
                <tr>
                    <td><span>Guarnição do 18º Batalhão da Marinha</span></td>
                    <td><span>SC</span></td>
                    <td><span>Federal</span></td>
                    <td><span>10/11/2016</span></td>
                    <td><span>12/11/2016</span></td>
                    <td><span>14/11/2016</span></td>
                    <td>
                    	<button type="button" class="btn btn-success custom-width">Editar</button>  <button type="button" class="btn btn-danger custom-width">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
