<h1 xmlns="http://www.w3.org/1999/html">SAELGI - Sistema de Apoio para a Empresa Licitante</h1>
<div ng-show="!authenticated">
    <p>Entre para obter o conteudo.</p>
</div>
<div ng-show="authenticated && !controller.showEditar && !controller.showAdicionar">
    <div growl></div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="background-color: #5cacee;"><span class="lead">Licitações</span></div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                <tr align="center">
                    <th style="text-align: center;">Numero</th>
                    <th style="text-align: center;">Orgão</th>
                    <th style="text-align: center;">Modalidade</th>
                    <th style="text-align: center;">Abertura</th>
                    <th style="text-align: center;">Representante</th>
                    <th align="center" style="padding-left: 0px; padding-right: 0px; width: 10%;"></th>
                    <th align="center" style="padding-left: 0px; padding-right: 0px; width: 15%;"></th>
                </tr>
                </thead>
                <tbody>
                <tr align="center" ng-repeat="lic in controller.licitacoes">
                    <td><span ng-bind="lic.numeroEdital"></span></td>
                    <td><span ng-bind="lic.orgao.nomeOrgao"></span></td>
                    <td><span ng-bind="lic.modalidade.nomeModalidade"></span></td>
                    <td><span ng-bind="lic.dataDeAberturaText"></span></td>
                    <td>
                        <div ng-show="lic.representante != null">
                            <span ng-bind="lic.representante.nome"></span><br/>
                            <button type="button" ng-click="controller.btnAvisarRepresentante(lic.codigo)" class="btn btn-warning ">Avisar</button>
                        </div>
                    </td>
                    <td>
                        <button type="button" ng-click="controller.btnVisualizarEdital(lic.codigo)" class="btn btn-default ">Ver edital</button>
                    </td>
                    <td>
                        <button type="button" ng-click="controller.btnEditar(lic.codigo, lic)" class="btn btn-success ">Editar</button>
                        <button type="button" ng-click="controller.btnExcluir(lic.codigo)" class="btn btn-danger ">Excluir</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button type="button" ng-click="controller.btnAdicionar()" class="btn btn-success custom-width">Adicionar nova Licitação</button>
</div>


<div ng-show="authenticated && (controller.showEditar || controller.showAdicionar)">
    <form role="form" ng-submit="controller.formLicitacao()" name="formLicitacao">
        <div class="form-group">
            <label for="numLicitacao">Numero Licitação:</label>
            <input type="text" class="form-control" id="numLicitacao" name="numLicitacao" ng-model="controller.licitacao.numeroEdital" style="width: 15%;"/>
        </div>
        <div class="form-group">
            <label for="orgao">Orgão:</label>
            <select name="orgao" class="form-control" id="orgao" ng-options="orgao.nomeOrgao for orgao in controller.orgaos track by orgao.codigo" ng-model="controller.licitacao.orgao" style="width: 50%;" />
        </div>
        <div class="form-group">
            <label for="modalidade">Modalidade:</label>
            <select name="modalidade" class="form-control" id="modalidade" ng-options="modalidade.nomeModalidade for modalidade in controller.modalidades track by modalidade.codigo" ng-model="controller.licitacao.modalidade" style="width: 15%;" />
        </div>
        <div class="form-group">
            <label for="dataDeAbertura">Abertura:</label>
            <input type="date" class="form-control" id="dataDeAbertura" name="dataDeAbertura" ng-model="controller.licitacao.dataDeAberturaLong" style="width: 15%;"/>
        </div>
        <div class="form-group">
            <label for="dataEntregaProposta">Proposta:</label>
            <input type="date" class="form-control" id="dataEntregaProposta" name="dataEntregaProposta" ng-model="controller.licitacao.dataEntregaPropostaLong" style="width: 15%;"/>
        </div>
        <div class="form-group">
            <label for="dataEntregaDocumentacao">Entrega Docs:</label>
            <input type="date" class="form-control" id="dataEntregaDocumentacao" name="dataEntregaDocumentacao" ng-model="controller.licitacao.dataEntregaDocumentacaoLong" style="width: 15%;"/>
        </div>

        <div ng-show="controller.showEditar">
            <div class="form-group">
                <label for="file">Edital (PDF): {{controller.licitacao.nmArquivoEdital}}</label>
                <input id="file" type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" />
            </div>

            <div class="form-group">
                <button type="button" ng-click="controller.btnVisualizarEdital(controller.licitacao.codigo)" class="btn btn-default ">Ver edital {{controller.licitacao.nmArquivoEdital}}</button>
            </div>
        </div>

        <div class="form-group">
            <label for="representante">Representante:</label>
            <select name="representante" class="form-control" id="representante" ng-options="representante.nome for representante in controller.representantes track by representante.codigo" ng-model="controller.licitacao.representante" style="width: 50%;" />
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" ng-click="controller.btnCancelar()" class="btn btn-danger custom-width">Cancelar</button>
    </form>
</div>