<h1 xmlns="http://www.w3.org/1999/html">SAELGI - Sistema de Apoio para a Empresa Licitante</h1>
<div ng-show="!authenticated">
    <p>Entre para obter o conteudo.</p>
</div>
<div ng-show="authenticated && !controller.showEditar && !controller.showAdicionar && !controller.showEditarEndereco">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="background-color: #8BAFDF;"><span class="lead">Lista de Orgãos</span></div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                <tr align="center">
                    <th style="text-align: center;">CNPJ</th>
                    <th style="text-align: center;">Orgão</th>
                    <th style="text-align: center;">email</th>
                    <th style="text-align: center;">Esfera</th>
                    <th style="text-align: center;">Endereço</th>
                    <th align="center" width="20%"></th>
                </tr>
                </thead>
                <tbody>
                <tr align="center" ng-repeat="org in controller.orgaos">
                    <td><span ng-bind="org.cnpj"></span></td>
                    <td><span ng-bind="org.nomeOrgao"></span></td>
                    <td><span ng-bind="org.email"></span></td>
                    <td><span ng-bind="org.esfera"></span></td>
                    <td><span>{{org.endereco.municipio}}/{{org.endereco.uf}}</span></td>
                    <td>
                        <button type="button" ng-click="controller.btnEditar(org.codigo, org)" class="btn btn-success custom-width">Editar</button>
                        <button type="button" ng-click="controller.btnExcluir(org.codigo)" class="btn btn-danger custom-width">Excluir</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button type="button" ng-click="controller.btnAdicionar()" class="btn btn-success custom-width">Adicionar novo Orgão</button>
</div>


<div ng-show="authenticated && !controller.showEditarEndereco && (controller.showEditar || controller.showAdicionar) ">
    <form role="form" ng-submit="controller.formOrgao()" name="formOrgao">
        <div class="form-group">
            <label for="cnpj">CNPJ:</label>
            <input type="text" class="form-control" id="cnpj" name="cnpj" ng-model="controller.orgao.cnpj" style="width: 20%;"/>
        </div>
        <div class="form-group">
            <label for="orgao">Orgão:</label>
            <input type="text" class="form-control" id="orgao" name="orgao" ng-model="controller.orgao.nomeOrgao" style="width: 30%;"/>
        </div>

        <div ng-show="!controller.showAdicionar">
            <div class="form-group">
                <label for="endereco">Endereço:</label>
                <span>
                    <input type="text" class="form-control" id="endereco" name="endereco" ng-model="controller.orgao.endereco.demonstra" style="width: 30%;" disabled="true"/>
                    <button type="button" ng-click="controller.btnEditarEndereco(controller.orgao)" class="btn btn-warning custom-width">Editar</button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="email">email:</label>
            <input type="text" class="form-control" id="email" name="email" ng-model="controller.orgao.email" style="width: 30%;"/>
        </div>
        <div class="form-group">
            <label for="esfera">Esfera:</label>
            <select name="esfera" class="form-control" id="esfera" ng-options="esfera for esfera in controller.esferas track by esfera" ng-model="controller.orgao.esfera" style="width: 50%;" />
        </div>

        <div ng-show="controller.showAdicionar">
            <div class="form-group">
                <label for="addlogradouro">Logradouro:</label>
                <input type="text" class="form-control" id="addlogradouro" name="addlogradouro" ng-model="controller.orgao.endereco.logradouro" style="width: 30%;"/>
            </div>
            <div class="form-group">
                <label for="addnumero">Número:</label>
                <input type="text" class="form-control" id="addnumero" name="addnumero" ng-model="controller.orgao.endereco.numero" style="width: 15%;"/>
            </div>
            <div class="form-group">
                <label for="addcomplemento">Complemento:</label>
                <input type="text" class="form-control" id="addcomplemento" name="addcomplemento" ng-model="controller.orgao.endereco.complemento" style="width: 30%;"/>
            </div>
            <div class="form-group">
                <label for="addbairro">Bairro:</label>
                <input type="text" class="form-control" id="addbairro" name="addbairro" ng-model="controller.orgao.endereco.bairro" style="width: 30%;"/>
            </div>
            <div class="form-group">
                <label for="addreferencia">Referência:</label>
                <input type="text" class="form-control" id="addreferencia" name="addreferencia" ng-model="controller.orgao.endereco.referencia" style="width: 30%;"/>
            </div>
            <div class="form-group">
                <label for="addcep">Cep:</label>
                <input type="text" class="form-control" id="addcep" name="addcep" ng-model="controller.orgao.endereco.cep" style="width: 15%;"/>
            </div>
            <div class="form-group">
                <label for="addmunicipio">Municipio:</label>
                <input type="text" class="form-control" id="addmunicipio" name="addmunicipio" ng-model="controller.orgao.endereco.municipio" style="width: 15%;"/>
            </div>
            <div class="form-group">
                <label for="adduf">UF:</label>
                <input type="text" class="form-control" id="adduf" name="adduf" ng-model="controller.orgao.endereco.uf" style="width: 15%;"/>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" ng-click="controller.btnCancelar()" class="btn btn-danger custom-width">Cancelar</button>
    </form>
</div>

<div ng-show="authenticated && controller.showEditarEndereco">
    <form role="form" ng-submit="controller.formEndereco()" name="formEndereco">
        <div class="form-group">
            <label for="logradouro">Logradouro:</label>
            <input type="text" class="form-control" id="logradouro" name="logradouro" ng-model="controller.endereco.logradouro" style="width: 30%;"/>
        </div>
        <div class="form-group">
            <label for="numero">Número:</label>
            <input type="text" class="form-control" id="numero" name="numero" ng-model="controller.endereco.numero" style="width: 15%;"/>
        </div>
        <div class="form-group">
            <label for="complemento">Complemento:</label>
            <input type="text" class="form-control" id="complemento" name="complemento" ng-model="controller.endereco.complemento" style="width: 30%;"/>
        </div>
        <div class="form-group">
            <label for="bairro">Bairro:</label>
            <input type="text" class="form-control" id="bairro" name="bairro" ng-model="controller.endereco.bairro" style="width: 30%;"/>
        </div>
        <div class="form-group">
            <label for="referencia">Referência:</label>
            <input type="text" class="form-control" id="referencia" name="referencia" ng-model="controller.endereco.referencia" style="width: 30%;"/>
        </div>
        <div class="form-group">
            <label for="cep">Cep:</label>
            <input type="text" class="form-control" id="cep" name="cep" ng-model="controller.endereco.cep" style="width: 15%;"/>
        </div>
        <div class="form-group">
            <label for="municipio">Municipio:</label>
            <input type="text" class="form-control" id="municipio" name="municipio" ng-model="controller.endereco.municipio" style="width: 15%;"/>
        </div>
        <div class="form-group">
            <label for="uf">UF:</label>
            <input type="text" class="form-control" id="uf" name="uf" ng-model="controller.endereco.uf" style="width: 15%;"/>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" ng-click="controller.btnCancelarEdicaoEndereco()" class="btn btn-danger custom-width">Cancelar</button>
    </form>
</div>