<h1 xmlns="http://www.w3.org/1999/html">SAELGI - Sistema de Apoio para a Empresa Licitante</h1>
<div ng-show="!authenticated">
    <p>Entre para obter o conteudo.</p>
</div>
<div ng-show="authenticated && !controller.showEditar && !controller.showAdicionar && !controller.showEditarEndereco">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="background-color: #33a1c9;"><span class="lead">Representantes</span></div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                <tr align="center">
                    <th style="text-align: center;">Nome</th>
                    <th style="text-align: center;">CPF</th>
                    <th style="text-align: center;">email</th>
                    <th style="text-align: center;">Telefone</th>
                    <th align="center" width="15%" style="padding-left: 0px; padding-right: 0px; width: 15%;"></th>
                </tr>
                </thead>
                <tbody>
                <tr align="center" ng-repeat="rep in controller.representantes">
                    <td><span ng-bind="rep.nome"></span></td>
                    <td><span ng-bind="rep.cpf"></span></td>
                    <td><span ng-bind="rep.email"></span></td>
                    <td><span ng-bind="rep.telefone"></span></td>
                    <td>
                        <button type="button" ng-click="controller.btnEditar(rep.codigo, rep)" class="btn btn-success custom-width">Editar</button>
                        <button type="button" ng-click="controller.btnExcluir(rep.codigo)" class="btn btn-danger custom-width">Excluir</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button type="button" ng-click="controller.btnAdicionar()" class="btn btn-success custom-width">Adicionar novo Representante</button>
</div>

<div ng-show="authenticated && !controller.showEditarEndereco && (controller.showEditar || controller.showAdicionar) ">
    <form role="form" ng-submit="controller.formRepresentante()" name="formRepresentante">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" ng-model="controller.representante.nome" style="width: 30%;"/>
        </div>
        <div class="form-group">
            <label for="cpf">CPF:</label>
            <input type="text" class="form-control" id="cpf" name="cpf" ng-model="controller.representante.cpf" style="width: 15%;" ui-mask="999.999.999-99"  ui-mask-placeholder ui-mask-placeholder-char="_"/>
        </div>
        <div class="form-group">
            <label for="email">email:</label>
            <input type="text" class="form-control" id="email" name="email" ng-model="controller.representante.email" style="width: 30%;"/>
        </div>
        <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input type="text" class="form-control" id="telefone" name="telefone" ng-model="controller.representante.telefone" style="width: 15%;"/>
        </div>


        <div ng-show="!controller.showAdicionar">
            <div class="form-group">
                <label for="endereco">Endereço:</label>
                <table style="width: 40%;">
                    <tr>
                        <td style="padding-right: 10px;"><input type="text" class="form-control" id="endereco" name="endereco" ng-model="controller.representante.endereco.demonstra" style="width: 100%;" disabled="true"/></td>
                        <td><button type="button" ng-click="controller.btnEditarEndereco(controller.representante)" class="btn btn-warning custom-width">Editar</button></td>
                    </tr>
                </table>
            </div>
        </div>

        <div ng-show="controller.showAdicionar">
            <div class="form-group">
                <label for="addlogradouro">Logradouro - Número:</label>
                <table style="width: 60%;">
                    <tr>
                        <td style="padding-right: 10px;"><input type="text" class="form-control" id="addlogradouro" name="addlogradouro" ng-model="controller.representante.endereco.logradouro" style="width: 100%;"/></td>
                        <td><input type="text" class="form-control" id="addnumero" name="addnumero" ng-model="controller.representante.endereco.numero"  style="width: 25%;"/></td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <label for="addcomplemento">Complemento:</label>
                <input type="text" class="form-control" id="addcomplemento" name="addcomplemento" ng-model="controller.representante.endereco.complemento" style="width: 30%;"/>
            </div>
            <div class="form-group">
                <label for="addbairro">Bairro:</label>
                <input type="text" class="form-control" id="addbairro" name="addbairro" ng-model="controller.representante.endereco.bairro" style="width: 30%;"/>
            </div>
            <div class="form-group">
                <label for="addreferencia">Referência:</label>
                <input type="text" class="form-control" id="addreferencia" name="addreferencia" ng-model="controller.representante.endereco.referencia" style="width: 30%;"/>
            </div>
            <div class="form-group">
                <label for="addmunicipioUF">Municipio:</label>
                <table style="width: 41%;">
                    <tr>
                        <td style="padding-right: 10px;"><input type="text" class="form-control" id="addmunicipioUF" name="addmunicipioUF" ng-model="controller.representante.endereco.municipio" style="width: 100%;"/></td>
                        <td><select name="addmunicipioUF" class="form-control"  ng-options="uf for uf in controller.ufList track by uf" ng-model="controller.representante.endereco.uf" style="width: 75%;"/></td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <label for="addcep">Cep:</label>
                <input type="text" class="form-control" id="addcep" name="addcep" ng-model="controller.representante.endereco.cep" ui-mask="99.999-999"  ui-mask-placeholder ui-mask-placeholder-char="_" style="width: 10%;"/>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" ng-click="controller.btnCancelar()" class="btn btn-danger custom-width">Cancelar</button>
    </form>
</div>

<div ng-show="authenticated && controller.showEditarEndereco">
    <form role="form" ng-submit="controller.formEndereco()" name="formEndereco">
        <div class="form-group">
            <label for="logradouro">Logradouro - Número:</label>
            <table style="width: 60%;">
                <tr>
                    <td style="padding-right: 10px;"><input type="text" class="form-control" id="logradouro" name="logradouro" ng-model="controller.endereco.logradouro" style="width: 100%;"/></td>
                    <td><input type="text" class="form-control" id="numero" name="numero" ng-model="controller.endereco.numero"  style="width: 25%;"/></td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <label for="complemento">Complemento:</label>
            <input type="text" class="form-control" id="complemento" name="complemento" ng-model="controller.endereco.complemento" style="width: 30%;"/>
        </div>
        <div class="form-group">
            <label for="bairro">Bairro:</label>
            <input type="text" class="form-control" id="bairro" name="bairro" ng-model="controller.endereco.bairro" style="width: 30%;"/>
        </div>
        <div class="form-group">
            <label for="referencia">Referência:</label>
            <input type="text" class="form-control" id="referencia" name="referencia" ng-model="controller.endereco.referencia" style="width: 30%;"/>
        </div>
        <div class="form-group">
            <label for="cep">Cep:</label>
            <input type="text" class="form-control" id="cep" name="cep" ng-model="controller.endereco.cep" style="width: 10%;" ui-mask="99.999-999"  ui-mask-placeholder ui-mask-placeholder-char="_"/>
        </div>
        <div class="form-group">
            <label for="municipioUF">Municipio:</label>
            <table style="width: 41%;">
                <tr>
                    <td style="padding-right: 10px;"><input type="text" class="form-control" id="municipioUF" name="municipioUF" ng-model="controller.endereco.municipio" style="width: 100%;"/></td>
                    <td><select name="municipioUF" class="form-control"  ng-options="uf for uf in controller.ufList track by uf" ng-model="controller.endereco.uf" style="width: 75%;"/></td>
                </tr>
            </table>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" ng-click="controller.btnCancelarEdicaoEndereco()" class="btn btn-danger custom-width">Cancelar</button>
    </form>
</div>